:root {
  --white: #ffffff;
  --black: #080808;
  --purple: #640164;
  --lavender: #d5c0f0;
  --pink: #feb8e1;
  --blue: #3a78e1;
  --lightblue: #96afdb;
  --darkblue: #245ec1;
  --grad: linear-gradient(0.25turn, #245ec1, #96afdb);
}

body {
  font-family: sans-serif;
}

#h1 {
  text-align: center;
  font-size: 2em;
  padding: 15px;
  border-bottom: inset 0.25em var(--blue);
}

#content {
  margin: 0px;
  padding: 20px;
  text-align: center;
  color: var(--black);
}

.icon {
  height: 20px;
  width: 20px;
  padding: 25px 0px;
  margin: 0px;
  float: center;
}

.button {
  align-items: center;
}

.linked {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.section {
  display: block;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  align-content: center;
}

.section-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2em;
}

.heading {
  color: var(--darkblue);
  padding-right: 50px;
}

.association {
  font-weight: bold;
}

.title {
  font-style: italic;
}

#prog {
  list-style-type: square;
}

#language {
  list-style-type: square;
  padding-right: 50px;
}

.deco {
  width: auto;
  height: 500px;
}

#img-connect {
  height: 350px;
  width: auto;
}

.profile {
  float: left;
}

.nav-link {
  padding: 30px;
}

.text {
  margin: 40px;
}

.link {
  text-decoration: none;
}

.project {
  text-align: left;
}

.plinked {
  height: 30px;
  width: 30px;
}

#sideways {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.project {
  border-style: inset;
  border-width: 3px;
  border-color: var(--darkblue);
  padding: 10px;
  width: 50em;
  float: left;
}

@media (max-width: 768px) {
  .deco {
    width: 300px;
    height: auto;
  }

  #img-connect {
    width: 300px;
    height: auto;
  }

  .profile {
    float: none;
  }

  .nav-link {
    padding: 30px 5px;
  }

  .ptitle {
    font-size: 1.2em;
  }
}
