:root {
  --white: #ffffff;
  --black: #080808;
  --purple: #800080;
  --lavender: #d5c0f0;
  --pink: #feb8e1;
  --blue: #400bbc;
}

#h1 {
  text-align: center;
}

#content {
  margin: 5% 10%;
  padding: 20px;
  text-align: center;
  border-style: double;
  border-width: 15px;
  border-color: var(--lavender);
  color: var(--blue);
}

.icon {
  height: 20px;
  width: 20px;
  padding: 25px 0px;
  margin: 0px;
  float: center;
}

.button {
  align-items: center;
}

.linked {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.section {
  display: inline-block;
  align-content: center;
}

.group {
  border-style: solid;
  border-color: var(--lavender);
  border-radius: 80px;
  background-color: var(--lavender);
  float: left;
  width: 220px;
  height: 220px;
  margin: 10px;
  padding: 30px;
}

.pub {
  border-style: solid;
  border-color: var(--lavender);
  border-radius: 80px;
  margin: 10px;
  padding: 30px;
}

.association {
  font-weight: bold;
}

.title {
  font-style: italic;
}

.deco {
  width: 400px;
  height: auto;
}

.text {
  margin: 40px;
}
